/* Hyperlink colors */
:link { color: #779bf3; text-decoration: none; }
:visited { color: #9b7cf6; }
:link:active, :visited:active { color: #007bff; }

/* Main CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
	section {
		padding: 100px 20px;
		min-height: 100vh;
	}
}

@media (min-width: 769px) {
	section {
		padding: 200px 10% 0px;
		min-height: 90vh;
	}
}

@media (max-width: 768px) {
	body {
		font-family: Arial, sans-serif;
		background-color: #222;
		color: #F8F8F8;
		padding: 0px;
	}
}

@media (min-width: 769px) {
	body {
		font-family: Arial, sans-serif;
		background-color: #222;
		color: #F8F8F8;
		padding: 0px;
	}
}

p {
	padding: 0px 0px 0px 0px;
	font-size: large;
}

h1 {
	font-size: xxx-large;
}

/* Biography content */
.bio-title {
	text-align: center;
}

.bio-content-container {
	padding: 3%;
}

.bio-content {
	padding: 0px 20px 40px;
	font-size: x-large;
	line-height: 1.5em;
}

.bio-img-container {
	float: right;
	width: 40%;
	padding: 3%;
}

.bio-img {
	padding: 3%;
	width: 100%;
	height: auto;
	border-radius: 13%;
}

.bio-links {
    display: flex;
    list-style: none;
    gap: 20px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.bio-links li a {
    color: black;
	font-size: large;
	white-space: nowrap;
    text-decoration: none;
    padding: 10px 14px;
    transition: background-color 0.4s, border-radius 0.4s, color 0.4s;
	border-radius: 4px;
	background-color: #ccc;
}

.bio-links li a:hover {
    background-color: #0056b3;
	color: #F8F8F8;
    border-radius: 10px;
}

/* Header */
header {
    background-color: #333;
    color: #F8F8F8;
    padding: 40px 0;
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.logo {
    font-size: 2.2em;
	text-shadow: 2px 2px 5px #222;
	font-variant: small-caps;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-rows {
	display: flex;
	gap: 30px;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    padding: 8px 11px;
    transition: background-color 0.4s, border-radius 0.4s, color 0.4s;
	border-radius: 4px;
	background-color: #ccc;
}

.nav-links li a:hover {
    background-color: #0056b3;
	color: #F8F8F8;
    border-radius: 10px;
}

.nav-contact a {
    color: #F8F8F8;
    text-decoration: none;
    padding: 8px 11px;
    background-color: #007bff;
    border-radius: 4px;
    transition: background-color 0.4s, border-radius 0.4s, color 0.4s;
}

.nav-contact a:hover {
    background-color: #0056b3;
	border-radius: 10px;
}

/* Footer */
footer {
	background-color: #333;
    color: #fff;
    padding: 20px 10%;
	width: 100%;
}

/* Project cards and media tabs */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-link {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
	border-radius: 4px;
    transition: background-color 0.4s, border-radius 0.4s, color 0.4s;
	display: flex;
}

.tab-link.active {
    background-color: #007bff;
    color: #F8F8F8;
}

.tab-link:hover {
	background-color: #0056b3;
	color: #F8F8F8;
	border-radius: 10px;
}

.tab-content {
    display: flex;
	max-height: 70vh;
    flex-wrap: wrap;
    justify-content: space-around;
	overflow-y: auto;
	overflow-x: auto;
}

.project-card {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 15px);
    margin-bottom: 20px;
    padding: 15px;
    transition: transform 0.2s;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.project-card:hover {
	transform: translateY(-3px);
}

.project-info {
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.project-info .description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 45px;
	max-width: 100%;
    transition: max-height 0.3s ease-in-out;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
}

.project-card.expanded .description {
    text-overflow: unset;
    max-height: 100%;
	max-width: 100%;
	-webkit-line-clamp: unset;
}

.expand-arrow {
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 10px;
    display: inline-block;
	align-self: center;
    transition: transform 0.3s ease-in-out;
	padding: 5px 45%;
	border-radius: 5px;
	user-select: none;
}

.project-card.expanded .expand-arrow {
    transform: rotate(180deg);
}

.project-card img {
    width: 30%;
	max-width: 40%;
	object-fit: contain;
    border-radius: 5px;
}

.project-card h3 {
    margin: 10px 0;
}

.project-card p {
    font-size: 1em;
    color: #AAA;
	padding: 5px 0px;
}

.read-more {
    text-decoration: none;
    color: #779bf3;
    font-weight: bold;
    display: none;
    margin-top: 10px;
}

.project-card.expanded .read-more {
    display: block;
}

@media (max-width: 768px) {
    .project-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .project-card {
        width: 100%;
    }
}

/* Publication table */
table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	cursor: pointer;
}

tr:hover {
	background-color: #333;
}

.dataTables_length {
	padding: 5px;
}

.dataTables_filter {
	padding: 5px;
}

.dataTables_info {
	padding: 10px 5px 10px 0px;
	text-align: center;
}

.dataTables_paginate {
	padding: 0px;
	text-align: center;
}

.paginate_button {
	color: #779bf3;
	padding: 2px;
}

.paginate_button.current {
	color: #1a88ff;
	padding: 2px;
}

/* Mobile handling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background-color: #F8F8F8;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.4s;
}

.mobile-menu {
    display: none;
    list-style: none;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.mobile-menu.active {
    display: flex;
}

.mobile-menu li a {
    color: #F8F8F8;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s;
}

.mobile-menu li a:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-contact {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }
}

/* Javascript warnings */
.noscript-warning {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #AAAAAA;
  color: #000;
  padding: 15px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.noscript-warning .close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
}

#close-warning:checked + .noscript-warning {
  display: none;
}
