/* Hyperlink colors */
:link { color: #779bf3; text-decoration: none; }
:visited { color: #9b7cf6; }
:link:active, :visited:active { color: #FF0000; }

/* Main CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
	section {
		padding: 90px 0px;
		min-height: 100vh;
	}
}

@media (min-width: 769px) {
	section {
		padding: 90px 10px;
		min-height: 100vh;
	}
}

.section-small {
	min-height: 30vh;
	max-height: 30vh;
}

@media (max-width: 768px) {
	body {
		font-family: Arial, sans-serif;
		background-color: #222;
		color: white;
		padding: 10px 20px;
	}
}

@media (min-width: 769px) {
	body {
		font-family: Arial, sans-serif;
		background-color: #222;
		color: white;
		padding: 10px 50px;
	}
}

p {
	padding: 15px 15px 0px 0px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo {
    font-size: 2.0em;
	text-shadow: 2px 2px 5px #222;
	font-variant: small-caps;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-rows {
	display: flex;
	gap: 30px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.4s, border-radius 0.4s;
	border-radius: 4px;
	background-color: #444;
}

.nav-links li a:hover {
    background-color: #666;
    border-radius: 10px;
}

.nav-contact a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    background-color: #ba1f1f;
    border-radius: 4px;
    transition: background-color 0.4s, border-radius 0.4s;
}

.nav-contact a:hover {
    background-color: #981111;
	border-radius: 10px;
}

/* Project cards and media tabs */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-link {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.tab-link.active, .tab-link:hover {
    background-color: #007bff;
    color: white;
}

.tab-content {
    display: flex;
	max-height: 70vh;
    flex-wrap: wrap;
    justify-content: space-between;
	overflow-y: auto;
	overflow-x: auto;
}

.project-card {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 15px);
    margin-bottom: 20px;
    padding: 15px;
    transition: transform 0.2s;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.project-info {
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 30%;
	max-width: 40%;
	object-fit: contain;
    border-radius: 5px;
}

.project-card h3 {
    margin: 10px 0;
}

.project-card p {
    font-size: 0.9em;
    color: #666;
}

.read-more {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .project-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .project-card {
        width: 100%;
    }
}

/* Publication table */
table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	cursor: pointer;
}

tr:hover {
	background-color: #333;
}

.dataTables_length {
	padding: 5px;
}

.dataTables_filter {
	padding: 5px;
}

.dataTables_info {
	padding: 5px;
}

.dataTables_paginate {
	padding: 5px;
}

.paginate_button {
	color: #779bf3;
	padding: 2px;
}

.paginate_button.current {
	color: #FF0000;
	padding: 2px;
}

/* Mobile handling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.4s;
}

.mobile-menu {
    display: none;
    list-style: none;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.mobile-menu.active {
    display: flex;
}

.mobile-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s;
}

.mobile-menu li a:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-contact {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }
}
